.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #003366, #0077b6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 1000;
  transition: background 0.4s ease;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.logo-text {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.6px;
  margin-top: 30px;
  font-style: italic;
  margin-left: -20px;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  transition: all 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links li a:hover {
  color: #aee2ff;
  border-bottom: 2px solid #00b4d8;
}

.contact-btn {
  background: linear-gradient(90deg, #00b4d8, #0077b6);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: #0096c7;
  transform: translateY(-2px);
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.bar {
  width: 26px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}


.bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 992px) {
  .nav-container {
    padding: 15px 40px;
  }
  .nav-links {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    background: linear-gradient(180deg, #003366, #0077b6);
    text-align: center;
    gap: 30px;
    transition: all 0.4s ease;
  }

  .nav-links.active {
    height: 100vh;
    padding-top: 90px;
  }

  .nav-links li a {
    font-size: 18px;
  }

  .contact-btn {
    font-size: 16px;
    padding: 12px 30px;
  }
}

@media (max-width: 480px) {
  .nav-container {
    padding: 10px 20px;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .logo-text {
    font-size: 14px;
  }
}
